<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，和接口关联-->
<mapper namespace="net.wanho.mapper.StudentMapper">


    <insert id="addStu">

        INSERT INTO  student VALUES (NULL,#{sname},#{age},#{gender},#{address},#{classId})


    </insert>
    <update id="updateStu">

        UPDATE student SET sname=#{sname},age=#{age},gender=#{gender},address=#{address},classId=#{classId} where id=#{id}

    </update>
    <delete id="delStuById">

        DELETE FROM student WHERE id=#{id}



    </delete>
    <select id="getAllStus" resultType="Student">

        SELECT  * FROM student
    </select>

    <select id="getAllStusPage" resultType="net.wanho.pojo.Student">

          SELECT  * FROM student
          <where>
              <if test="gender!=null and !''.equals(gender)">
                  AND gender=#{gender}
              </if>
              <if test="address!=null and !''.equals(address)">
                  and address like concat('%',#{address},'%')
              </if>
          </where>

    </select>
    <select id="getStuById" resultType="net.wanho.pojo.Student">

        SELECT * FROM student WHERE id=#{id}


    </select>
</mapper>